{
	"branches": [
		"main"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "eslint",
				"releaseRules": [
					{
						"message": "Patched",
						"release": "patch"
					}
				]
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "eslint",
				"parserOpts": {
					"noteKeywords": [
						"BREAKING CHANGE",
						"BREAKING CHANGES",
						"BREAKING"
					]
				},
				"writerOpts": {
					"commitsSort": [
						"subject",
						"scope"
					]
				}
			}
		],
		"@semantic-release/github",
		"@semantic-release/npm",
		"@semantic-release/changelog",
		"@semantic-release/git"
	]
}
