{
	"branches": [
		"main"
	],
	"plugins": [
		"@semantic-release/commit-analyzer",
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "eslint",
				"releaseRules": [
					{
						"message": "Fix",
						"release": "patch"
					},
					{
						"message": "Fixed",
						"release": "patch"
					},
					{
						"message": "Update",
						"release": "patch"
					},
					{
						"message": "New",
						"release": "minor"
					},
					{
						"message": "Added",
						"release": "minor"
					},
					{
						"message": "Breaking",
						"release": "major"
					}
				]
			}
		],
		"@semantic-release/github",
		"@semantic-release/npm",
		"@semantic-release/changelog",
		"@semantic-release/git"
	]
}
